{% extends "layout.html" %}

{% block title %}
    Destination
{% endblock %}

{% block main %}

        <!--Destination section-->
        <section class="destination" id="destination">
            <div class="title">
                <h2>Our Most Popular <br> Destination!</h2>
            </div>

            <div class="destination-content">
                <div class="col-content" onclick="openImageSliderPopup('Italy')">
                    <img src="static/img/destination/img-1.jpg">
                    <h5>ITALY</h5>
                    <p>Rome</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('Peru')">
                    <img src="static/img/destination/img-2.jpg">
                    <h5>PERU</h5>
                    <p>Machu Picchu</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('Japan')">
                    <img src="static/img/destination/img-3.jpg">
                    <h5>JAPAN</h5>
                    <p>Kyoto</p>
                </div>
                <div class="col-content" onclick="openImageSliderPopup('Australia')">
                    <img src="static/img/destination/img-4.jpg">
                    <h5>AUSTRALIA</h5>
                    <p>Great Barrier Reef</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('South Africa')">
                    <img src="static/img/destination/img-5.jpg">
                    <h5>SOUTH AFRICA</h5>
                    <p>Cape Town</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('Iceland')">
                    <img src="static/img/destination/img-6.jpg">
                    <h5>ICELAND</h5>
                    <p>The Blue Lagoon</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('Italy')">
                    <img src="static/img/destination/img-1.jpg">
                    <h5>ITALY</h5>
                    <p>Rome</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('Peru')">
                    <img src="static/img/destination/img-2.jpg">
                    <h5>PERU</h5>
                    <p>Machu Picchu</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('Japan')">
                    <img src="static/img/destination/img-3.jpg">
                    <h5>JAPAN</h5>
                    <p>Kyoto</p>
                </div>
                <div class="col-content" onclick="openImageSliderPopup('Australia')">
                    <img src="static/img/destination/img-4.jpg">
                    <h5>AUSTRALIA</h5>
                    <p>Great Barrier Reef</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('South Africa')">
                    <img src="static/img/destination/img-5.jpg">
                    <h5>SOUTH AFRICA</h5>
                    <p>Cape Town</p>
                </div>

                <div class="col-content" onclick="openImageSliderPopup('Iceland')">
                    <img src="static/img/destination/img-6.jpg">
                    <h5>ICELAND</h5>
                    <p>The Blue Lagoon</p>
                </div>
                
            </div>

        </section>

{% endblock %}
